
.historial {
    text-align: center;
}
.contContBotDesc{
    display: flex;
    justify-content: center;
}.contBotDesc{
    display: inline-flex;
    justify-content: center;
}
.bm-item-list button {
    border: none;
    width: 100%;
    font-size: 25px;
    background: transparent;
    color: white;
}
.entrVis{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}.entrVis p {
    color: white;
    font-size: 30px;
}
.contPerf{
    width: 100%;
    height: 100%;
}
.labCorr{
    max-width: 100%;
    word-wrap: break-word;
}
.contBase{
    display: flex;
    padding-top: 70px;
    height: 100vh;
}.contBase > div {
    height: 100%;
}
.navSideBar {
    width: 20%;
    display: none;
    border-right: black 5px;
    background-color: #410046;
}.navSideBar button{
    color: white;
    width: 100%;
    border-left: none;
    
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-right-color: white;
    background: linear-gradient(to right, #410046 80%, #d47f00cd);
}
.contVis{
    width: 100%;
    background-color: #410046;
}
.contPerf header{
    height: 70px;
}
.datosUser{
    display: flex;
    justify-content: center;
}
.perfilUser{
    align-items: center;
    text-align: center;
    font-size: xx-large;
}.perfilUser > label{    
    color: white;
}.perfilUser > div {
    margin-bottom: 20px;
}
.datosUser{
    color: white;
    margin-bottom: 20px;
    margin-top: 50px;
}
button :focus {
    text-decoration: none;
}
@media only screen and (min-width: 820px) {
    .contVis{
        background: #410046;
    }
    .navSideBar{
        display: inline-block;
    }.navSideBar button {
        font-size: xx-large;
    }
    .contVis{
        width: 80%;
    }
}