.contImgTarj {
    width: 100px;
    object-fit: cover;
    overflow: hidden;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.tarj {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #2a142c;
    border-radius: 25px;
    padding: 5px;
    height: 100px;
    display: flex;
    gap: 20px;
}
.tarj:hover{
    background-color: #f3f3f354;
    transition: all 0.2s ease-in-out;
}
#ingoNegHov {
    border-radius: 50%;
    border: 1px solid #f3f3f3;
}
.contConfVarNav {
    padding: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.contConfVarNav button {
    padding: 10px;
    color: white;
    background: #2a142c;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.confVar {
    height: 100%;
}
.contConfVar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}.contConfVar > p {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}.contConfVar > a {
    padding: 10px;
    color: white;
    background: #363136;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}.contConfVar > a:hover {
    background: #f3f3f354;
}
.confPerfVisPrin{
    position: absolute;
    width: 100%;
    background-color: rgb(17, 0, 19);
}
.confPerfImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: white solid 2px;
    z-index: 1;
    top: 140px;
    left: 24%;
}
.contPerf > header > div {
    color: white !important; 
}
.contPerf > header > section > div {
    color: white !important;
}

#confPerfImgBack {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.confPerfInfoGen{
    padding-top: 150px;
}
#contInfoGen {
    display: flex;
    min-height: 35px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #2a142c;
    padding-left: 15px;
    
}#contInfoGen h2 {
    color: white;
    width: 75%;
    word-wrap: break-word;
}#contInfoGen button {
    width: 20%;
    color: white;
    background: transparent;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#acomodo {
    margin-right: 50px;
}
.historial {
    text-align: center;
}
.contContBotDesc{
    display: flex;
    justify-content: center;
}.contBotDesc{
    display: inline-flex;
    justify-content: center;
}
.bm-item-list button {
    border: none;
    width: 100%;
    font-size: 25px;
    background: transparent;
    color: white;
}
.entrVis{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}.entrVis p {
    color: white;
    font-size: 30px;
}
.contPerf{
    width: 100%;
    height: 200px;
    background-color: tomato;
}
.labCorr{
    max-width: 100%;
    word-wrap: break-word;
}
.contBase{
    display: flex;
    padding-top: 60px;
    min-height: calc(100vh - 60px);
    overflow-x: hidden;
}
.navSideBar {
    width: calc(20% - 1px);
    display: none;
    border-right: white solid 1px;
    background-color: #2D0E30;
    
}.navSideBar button{
    color: white;
    width: 90%;
    border: none;
    padding: 10px;
    background: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}.navSideBar button:hover{
    background-color: #f3f3f346;
}
.contVis{
    width: 100%;
    background-color: rgb(17, 0, 19);
}
.contPerf header{
    height: 70px;
}
.datosUser{
    display: flex;
    justify-content: center;
}
.perfilUser{
    align-items: center;
    text-align: center;
    font-size: xx-large;
}.perfilUser > label{    
    color: white;
}.perfilUser > div {
    margin-bottom: 20px;
}
.datosUser{
    color: white;
    margin-bottom: 20px;
    margin-top: 50px;
}
button :focus {
    text-decoration: none;
}
#AddDireccion{
    align-items: left;
}
@media only screen and (max-width: 750px) {
    .contBase{
        padding-top: 0px;
    }   
    .contVis {
        margin-top: 60px;
    }
    
}
@media only screen and (min-width: 768px) {
    .confPerfInfoGen{
        padding-top: 270px;
    }
    #confPerfImgBack {
        width: auto;
        height: 250px;
        left: 20%;
        object-fit: cover;
        overflow: hidden;
        position: absolute;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .confPerfNombrNum {
        margin-left: 20px;
        z-index: 1;
    }.confPerfNombrNum > h2 {
        color: white;
    }
    #imgConfPerfPers {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
    .confPerfContImgUsBack{
        width: 80%;
        height: 250px;
        display: flex;
        align-items: center;
        position: absolute;
    }
    .confPerfImg {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        top: 0px;
        left: 10%;
        overflow: hidden;
        border: white solid 2px;
        z-index: 1;
    }
}
.contBase .bm-burger-bars {
    background: white;
}
@media only screen and (min-width: 1024px) {
    .confPerfVisPrin {
        width: 80%;
    }
    .bm-burger-button{
        display: none;
    }
    .navSideBar :first-child{
        margin-top: 10px;
    }
    .navSideBar{
        display: flex;
        flex-direction: column;
        align-items: center;

    }.navSideBar button {
        font-size: 20px;
        border-radius: 10px;
    }
    .contVis{
        width: 80%;
    }
}