#confPerfImgBack {
    width: auto;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    left: calc(20% + 180px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.confPerfNombrNum {
    margin-left: 20px;
    z-index: 1;
}.confPerfNombrNum > h2 {
    color: white;
}
#imgConfPerfPers {
    height: 100%;
    width: auto;
    object-fit: cover;
}
.confPerfContImgNombr{
    padding-top: 10px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}
.confPerfImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 20px;
    overflow: hidden;
    border: white solid 2px;
    z-index: 1;
}
#acomodo {
    margin-right: 50px;
}
.historial {
    text-align: center;
}
.contContBotDesc{
    display: flex;
    justify-content: center;
}.contBotDesc{
    display: inline-flex;
    justify-content: center;
}
.bm-item-list button {
    border: none;
    width: 100%;
    font-size: 25px;
    background: transparent;
    color: white;
}
.entrVis{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}.entrVis p {
    color: white;
    font-size: 30px;
}
.contPerf{
    width: 100%;
    height: 100%;
}
.labCorr{
    max-width: 100%;
    word-wrap: break-word;
}
.contBase{
    display: flex;
    padding-top: 70px;
    height: 100vh;
}.contBase > div {
    height: 100%;
}
.navSideBar {
    width: 20%;
    display: none;
    border-right: white solid 1px;
    background-color: #2a142c;
}.navSideBar button{
    color: white;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top-style: dashed;
    border-bottom-style: dashed;
    background: #2a142c;
}
.contVis{
    width: 100%;
    background-color: rgb(17, 0, 19);
}
.contPerf header{
    height: 70px;
}
.datosUser{
    display: flex;
    justify-content: center;
}
.perfilUser{
    align-items: center;
    text-align: center;
    font-size: xx-large;
}.perfilUser > label{    
    color: white;
}.perfilUser > div {
    margin-bottom: 20px;
}
.datosUser{
    color: white;
    margin-bottom: 20px;
    margin-top: 50px;
}
button :focus {
    text-decoration: none;
}
#AddDireccion{
    align-items: left;
}
@media only screen and (max-width: 750px) {
    .contBase{
        padding-top: 0px;
    }
    .contVis {
        padding-top: 60px;
    }
}
@media only screen and (min-width: 800px) {
    .bm-burger-button{
        display: none;
    }
    .navSideBar{
        display: inline-block;
    }.navSideBar button {
        font-size: xx-large;
    }
    .contVis{
        width: 80%;
    }
}