.contEvento > h3 {
    width: 100%;
    height: 100%;
    height: auto;
    text-align: left;
    color: #f3f3f3;
    font-size: 25px;
    margin-bottom: 0px;
}
.contEvento p {
    font-size: 10px;
    text-align: right;
}
@media only screen and (min-width: 800px) {
    .contEvento button {
        color: black;
    }
    .contEvento p {
        font-size: 15px;
        user-select: none;
    }
}