header{
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    transform: 0.5s;
    backdrop-filter: blur(10px);
    z-index: 100;;
}

.fondo{
    background-color: #f3f3f32b;
}

.contLogo{
    height: auto;
    position: absolute;
    left: 60px;
}

.logo{
    cursor: pointer;
    user-select: none;
    color: #f3f3f3;
    font-size: 40px;
    font-family: 'Berlin Sans FB';
}
.contBotones{
    min-width: 150px;
    height: 52px;
    position: absolute;
    right: 60px;
}