header{
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: right;
    height: 60px;
    transform: 0.5s;
    backdrop-filter: blur(10px);
    z-index: 100;
}

.color{
    background-color: #410046;
    backdrop-filter: blur(10px);
}

.fondo{
    background-color: #f3f3f32b;
}

.contLogo{
    height: auto;
    position: absolute;
    left: 60px;
}

.logo{
    cursor: pointer;
    user-select: none;
    color: #f3f3f3;
    font-size: 30px;
    font-family: 'Berlin Sans FB';
}
.userHeader{
    color: white;
    position: absolute;
    right: 60px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}