header{
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: right;
    height: 60px;
    transform: 0.5s;
    z-index: 100;
}

/* === Tipos de header === */
    #responsive{
        background-color: #410046;
    }
    #color{
        background-color: #410046;
    }
    #fondo{
        background-color: #f3f3f32b;
    }
/* === FIN Tipos de header === */

/* === Superior izquierda logo === */
    header .contLogo{
        position: absolute;
        left: 30px;
        display: flex;
    }
    header .logo{
        cursor: pointer;
        user-select: none;
        color: #f3f3f3;
        font-size: 30px;
        font-family: "Josefin Sans";
        height: 60px;
        display: flex;
        align-items: center;
    }
    header .logo .contImg{
        width: 50px;
        height: 50px;
    }
    header .logo .contImg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* === FIN Superior izquierda logo === */

/* === Superior derecha Perfil del usuario === */
    header .userHeader{
        display: flex;
        position: absolute;
        right: 40px;
    }
    header .userHeader .children{
        margin-right: 10px;
        width: 350px;
    }
    header .userHeader .btnBack{
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
    }
    header .userHeader .user{
        color: white;
        font-size: 20px;
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        margin-top: -2px;
    }
    header .userHeader .user:active{
        transform: scale(0.95);
    }
    header .contName{
        margin-left: 10px;
    }
    /* /// Foto de perfil /// */
    header .contImgPerfil{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #f3f3f3;
    }
    header .contImgPerfil img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* /// FIN Foto de perfil /// */
/* === FIN Superior derecha Perfil del usuario === */

@media (max-width: 750px) {
    #color{
        background: none;
    }
    #color .logo{
        color: #3f3f3f;
    }
    #color .userHeader{
        color: #3f3f3f;
    }
    header .contLogo{
        left: 10px;
    }
    header .userHeader{
        right: 10px;
    }
    header .userHeader .user .contName{
        display: none;
    }
    header .contImgPerfil{
        margin-right: 0px;
    }
}