
.butNav{
    margin-left: 90%;
    border: none;
    font-size: 25px;
    background-color: transparent;
    width: auto;
    z-index: 101;
    color: white;
}.butNav :focus{
    text-decoration: solid;
    background: transparent;
}
.acomodo{
    z-index: 101;
    position: absolute;
    width: 100%;
    margin-top: 50px;
    float: right;
}.dropiOpcio{
    border-bottom-left-radius: 50%;
    text-align: right;
    
    float: right;
    background-color: gray;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 50px;
}.dropiOpcio > *{
    margin-bottom: 5px;
    color: black;
    display: block;
}
.contHome{
    background-image: linear-gradient(-135deg, #410046, #EC1C4E);
    min-height: 100vh;
    position: relative;
    display: flex;
    color: #f3f3f3;
}

.bm-burger-button{
    display: none;
}
.hoContLink{
    max-height: 30px;
    margin-bottom: 10px;
}
.hoContMapa{
    height: 100vh;
    width: 100%;
    user-select: none;
   
}
.contNav{
    
}
 /* #contBackgroundHome{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, #41004688 1%, #41004625);
    pointer-events: none;
    z-index: 90;
    position: fixed;
}  */
#contFeed{
    height: fill-available;
    margin-top: 50px;
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
}

#feedHome{
    padding: 30px;
    min-width: 320px;
    max-width: 320px;
    max-height: 79vh;
    min-height: 79vh;
    margin-left: 40px;
    background-color: #f3f3f3;
    /* background-color: #e2e2e2a6; */
    backdrop-filter: blur(10px);
    z-index: 80;
    border-radius: 15px;
    position: absolute;
    flex-direction: column;
    display: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

#feedHome > h1, p{
    color: #3f3f3f;
    font-family: 'Berlin Sans FB';
    font-weight: 350;
}
.bm-menu p{
    color: white;
}
.CrearEvento {
    overflow-y: scroll;
    max-height: 85%;
}.CrearEvento ::-webkit-scrollbar{
    width: 5px;
}
@media only screen and (max-width: 778px) {
    .bm-burger-button{
        display: block;
    }
    .feedHome{
        display: none;
    }
}
@media only screen and (min-width: 779px) {
    #feedHome{
        display: flex;
    }
    #feedHome > h2 {
        color: black;
    }
    #feedHome a {
        z-index: 0;
    }
}