.contHome{
    background-image: linear-gradient(-135deg, #410046, #EC1C4E);
    min-height: 100vh;
    position: relative;
    display: flex;
    color: #f3f3f3;
}
.hoContLink{
    max-height: 30px;
    margin-bottom: 10px;
}
.hoContMapa{
    height: 100vh;
    width: 100%;
}