.eventsNegPrin h3{
    color: black;
    margin-bottom: 0px;
}
.eventsNegPrin h1{
    color: black;
    margin-bottom: 0px;
}

.color {
    display: flex;
    justify-content: right;
}
.butNav{
    border: none;
    font-size: 25px;
    background-color: transparent;
    width: auto;
    z-index: 101;
    color: white;
}.butNav :focus{
    background: transparent;
}
.acomodo{
    z-index: 101;
    position: absolute;
    width: 100%;
    margin-top: 65px;
    right: 10px;
}.dropiOpcio{
    border-radius: 10px;    
    text-decoration: none;
    float: right;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    width: auto;
    animation: toggle 1s linear;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
}.dropiOpcio > *{
    margin-bottom: 5px;
    color: #3f3f3f;
    display: block;
}.dropiOpcio > button {
    border: none;
    background: transparent;
    width: 100%;
    text-align: right;
}

@keyframes toggle {
    0% {
        transform: scaleY(0.3s);
    }
    100% {
        transform: scaleY(1);
    }
}
#toggleSalir{
    cursor: pointer;
    user-select: none;
    height: 30px;
}
#togglePerfil{
    height: 30px;
    text-decoration: none;
    user-select: none;
    border-bottom: solid 1px #3f3f3f;
}
.contHome{
    background-image: linear-gradient(-135deg, #410046, #EC1C4E);
    min-height: 100vh;
    position: relative;
    display: flex;
    color: #f3f3f3;
}

.bm-burger-button{
    display: none;
}
.hoContLink{
    max-height: 30px;
    margin-bottom: 10px;
}
.hoContMapa{
    height: fill-available;
    width: 100%;
    user-select: none;
}
.markerInfo{
    color: black;
    font-size: 20px;
    position: relative;
    flex-direction: column;
    z-index: 9999;
}
.markerInfo h3{
    font-size: 15px;
}
#contFeed{
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: fill-available;
    margin-top: 60px;
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
}

#feedHome{
    padding: 30px;
    min-width: 320px;
    max-width: 320px;
    max-height: 77vh;
    min-height: 77vh;
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0.644);
    /* background-color: #f3f3f3dc; */
    backdrop-filter: blur(10px);
    z-index: 80;
    border-radius: 15px;
    position: absolute;
    flex-direction: column;
    display: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
/* === Styles Modal infEvento */
#contInfoEvento{
    width: 100%;
}
#contInfoEvento h1{
    color: #3f3f3f;
    text-align: center;
}
/* Estilos para el evento */
.contEvento{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}
.contEvento:hover{
    background-color: rgb(250, 250, 250);
}

#feedHome > h1, p{
    color: #3f3f3f;
    font-family: 'Berlin Sans FB';
    font-weight: 350;
}
.bm-menu p{
    color: white;
}
.CrearEvento {
    overflow-y: scroll;
    max-height: 85%;
}.CrearEvento ::-webkit-scrollbar{
    width: 5px;
}
@media only screen and (max-width: 778px) {
    .bm-burger-button{
        display: block;
    }
    .feedHome{
        display: none;
    }
}
@media only screen and (min-width: 779px) {
    #feedHome{
        display: flex;
    }
    #feedHome > h2 {
        color: black;
    }
    #feedHome a {
        z-index: 0;
    }
}