.inputBox{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #220024;
    border-radius: 10px;
    transition: all 300ms;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.inputBox:hover{
    background-color: #300033;
}
.inputBox input{
    background: none;
    margin-bottom: -5px;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-left: 10px;
    text-align: unset;
    outline: none;
    color: #f3f3f3;
    font-size: 18px;
    border: none;
}
.inputBox span{
    position: absolute;
    padding: 10px;
    margin-bottom: -2px;
    pointer-events: none;
    font-size: 18px;
    color: #f3f3f3;
    transition: all 300ms;
    user-select: none;
}
.inputBox input:valid ~span,
.inputBox input:focus ~span{
    color: #f3f3f390;
    transform: translateY(-10px);
    font-size: 14px;
}