.contImagen{
    width: 100%;
    height: 100vh;
    background-image: url('../images/loginWallpaper.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.contDegradado{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to left, #410046 40%, #41004679);
}
.contLogin{
    position: absolute;
    right: 0;
    width: 450px;
    height: 100vh;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
}
.login{
    width: 100%;
    height: auto;
    color: #f3f3f3dc;
}
.login h2{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 30px;
    user-select: none;
    font-family: 'Josefin Sans';
}
.login .form-group{
    margin-top: 15px;
}
.login .form-group input{
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.180);
    backdrop-filter: blur(10px);
    color: #f3f3f3;
    font-size: 18px;
    margin-bottom: 15px;
    width: calc(100% - 30px);
}
.login .form-group input:focus{
    outline: none;
}
.recuperarLink{
    text-decoration: none;
    width: auto;
    color: #f3f3f3;
}
.recuperarLink p{
    margin-bottom: 15px;
    transition: all 100ms;
}
.recuperarLink p:hover{
    color: #49a1fa;
}
.btnIngresar{
    background-color: #196eff;
    width: 100%;
    height: 45px;
    color: #f3f3f3;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    transition: all 0.3s ease;
}
.btnCrear{
    background-color: orange;
    text-decoration: none;
    height: 45px;
    color: #f3f3f3;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    transition: all 0.3s ease;
    min-width: 100%;
}
.separador{
    height: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f3f3f3a9;
}
.contBotones {
    width: 100px;
    text-align: center;
    padding-top: 15px;
    padding-right: 15px;
}
.contBotones > a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.letra{
    user-select: none;
    position: absolute;
    bottom: -12px;
    height: auto;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #410046;
}

.iconsLogin svg{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Responsive del login */
@media (max-width: 973px) {
    .contDegradado{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #410046;
    }
    .contLogin{
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}
@media (max-width: 750px) {
    .contLogin{
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    }
    .contImagen{
        width: 100%;
        height: 100vh;
        background: none;
    }
}