.texto{
    color:crimson;
    text-align: center;
}
.Contenedor{
    justify-content: center;
}
.marcBase{
    color: black;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: blue;
}