.contBotPc{
    display: none;
}
.header{
    background-color: black;
}
.contBackground{
    background-color: #410046;
    /* background-color: linear-gradient(-135deg, #410046, #EC1C4E);; */
    min-height: 100vh;
    
}
.contPrincipal{
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 90px;
    flex-direction: column; 
}
h2{
    color: #f3f3f3;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    user-select: none;
}
.contSelecion{
    height: 300px;
    margin-bottom: 30px;
    position: relative;
}.contSelecion div{
    height: 50%;
    width: 97%;
}

.contPrincipal > div{
    width: 100%;
}

@media only screen and (min-height: 1000px) {
    .contSelecion{
        height: 500px;
        margin-bottom: 100px;
    }.contSelecion > div{
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    .contBotMov{
        display: none;
    }.contBotPc{
        display: block;
    }
    .contSelecion{
        width: 80%;
    }
    .btnMenuNormal{
        max-width: 300px;
        height: 100%;
        position: absolute;
        left: 5%;
    }
    .btnMenuNegocio{
        max-width: 300px;
        height: 100%;
        position: absolute;
        right: 5%;
    }.btnMenuArtista{
        max-width: 300px;
        height: 100%;
        position: absolute;
        right: 140px;
    }.btnMenuPatrocinador{
        max-width: 300px;
        height: 100%;
        position: absolute;
        left: 140px;
    }
}