#ContGeneralRegistrarEvento{
    /* background: linear-gradient(to left, #410046, #EC1C4E); */
}
#ContGeneralRegistrarEvento .registrarEventoForm{
    max-width: 100%;
    color: #f3f3f3;
    font-size: 17px;
}
#ContGeneralRegistrarEvento .registrarEventoForm p{
    padding: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
}
#ContGeneralRegistrarEvento .registrarEventoForm input{
    background-color: #f3f3f3;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    width: calc(100% - 20px);
}
#ContGeneralRegistrarEvento .registrarEventoForm input:focus{
    outline: none;
}
#ContGeneralRegistrarEvento .registrarEventoForm .horarios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
#ContGeneralRegistrarEvento .registrarEventoForm .detalles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
#ContGeneralRegistrarEvento .registrarEventoForm .detalles .contCheckbox{
    display: flex;
    align-items: center;
}
#ContGeneralRegistrarEvento .registrarEventoForm .detalles .checkbox{
    width: auto;
}
#ContGeneralRegistrarEvento button{
    margin-top: 15px;
    background: linear-gradient(to left, #004dc0, #EC1C4E, #d6d300);
    display: block;
    width: 100%;
    color: #f3f3f3;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    font-size: 18px;
    transition: all 0.3s ease;
}
