.contBackgroundRegistrar{
    background: linear-gradient(to left, #EC1C4E, #410046 );
    max-height: 100vh;
    min-height: 100vh;
}
#ContenedorRegistrar{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenedorFormRegistrar{
    width: 500px;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.contenedorFormRegistrar h2{
    font-size: 40px;
    color: #f3f3f3dc;
    user-select: none;
    font-family: 'Josefin Sans';
    margin-bottom: 10px;
}
.formRegistrar{
    width: 100%;
}
.formRegistrar .nombre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}
.formRegistrar .datos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}
.formRegistrar input{
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.180);
    backdrop-filter: blur(10px);
    color: #f3f3f3;
    width: calc(100% - 30px);
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
}
.formRegistrar input:focus{
    outline: none;
    box-shadow: 0 0 5px #f3f3f3;
}

@media (max-width: 750px) {
    .contBackgroundRegistrar{
        background: linear-gradient(60deg, #EC1C4E , #410046);
        max-height: 100vh;
        min-height: 100vh;
    }
    .contenedorFormRegistrar{
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
    }
}