.PatbotVolver {
    display: inline-flex;
    margin-right: 27%;
}
.PatcontCabeza {
    display: flex;
}

h1{
    color: white;
}
h3 {
    color: whitesmoke;
}
.PatcontTipPat p {
    color: whitesmoke;
}
.PatdataTotal{
    display: flex;
}
.PatcontForm{
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
}
.Patform{
    width: 100%;
    text-align: center;
}
.PatdataUser{
    width: 200px;
}
.PatdataPass{
    width: 200px;
    padding-right: 30px;
}
.PatcontInp{
    width: 300px;
    padding-left: 17%;
    padding-top: 25px;
}
.PatcontBot{
    width: 300px;
    padding-left: 37%;
    padding-top: 25px;
    padding-bottom: 80px;
}
.PatcontPass{
    width: 700px;
    padding-left: 32%;
    display: flex;
}
.PatcontT{
    display: flex;
}
.PatcontT textarea {
    max-height: 100px;
    vertical-align: middle;
    
}
.PatcontTDes {
    text-align: left;
    padding-top: 40px;
}
.PatcontTipPat{
    width: 200px;
    text-align: left;
    padding-left: 20%;
}
.PatcontTipPat div {
    max-height: 20px;
    max-width: 50px;
}