h1{
    color: white;
}
.NegbotVolver {
    display: none;
}
.NegbotVolverMov {
    padding-top: 90px;
    width: 25%;
}
.NegcontCabeza {
    justify-content: center;
    display: flex;
}

.NegdataTotal{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
}
.NegcontForm{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;

}
.Negform{
    width: 100%;
    text-align: center;
}
.NegdataUser{
    width: 200px;
}

.NegcontInp{
    width: 100%;

    padding-top: 25px;
}
.NegcontBot{
    width: 100%;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 80px;
}
.NegcontHorario{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    height: auto;
}
.NegtextHor{
    padding-top: 20px;
}
.NegcontHorario h2{
    margin-bottom: 0px;
}
.NegcontHorario div{
    padding-right: 5px;
}
.NegcontHorDia{
    display: flex;
}
.NegcontPass{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    height: auto;
}
.NegdataPass{
    width: 95%;
}

@media only screen and (max-width: 300px) {
    .NegcontHorDia{
        flex-wrap: wrap;
        display: flex;
    }
}
@media only screen and (min-width: 1024px){
    .NegcontInp{
        width: 350px;
        margin-right: 70px;
        justify-content: center;
        align-items: center;
    }
    .NegcontBot{
        justify-content: right;
        
    }.NegcontBot button {
        width: 300px;
    }
    .NegbotVolverMov{
        display: none;
        min-width: 150px;
    }
    .Negform{
        padding-top: 90px;
    }
    .NegcontCabeza{
        justify-content: center;
    }
    .NegbotVolver{
        display: block;
    }
    .NegdataPass{
        width: 200px;  
        margin-right: 15px;  
    }
    .Negform{
        justify-content: center;
    }
}