h1{
    color: white;
}
h3 {
    color: whitesmoke;
}
.ArtbotVolver {
    display: block;
}
.ArtcontCabeza {
    text-align: center;
}

.ArtcontTipPat p {
    color: whitesmoke;
}

.ArtdataTotal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ArtcontForm{
    padding-top: 90px;
    display: flex;
    align-items: center;
}

.Artform{
    width: 100%;
    text-align: center;
}

.ArtdataUser{
    width: 200px;
}

.ArtdataPass{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}.ArtdataPass div{
    width: 90%;
}

.ArtcontInp{
    width: 300px;
    padding-top: 25px;
}

.ArtcontBot{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 80px;
}.ArtcontBot button{
    max-width: 200px;
}

.ArtcontPass{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ArtcontT{
    display: flex;
    padding-left: 1%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.ArtcontT textarea {
    max-height: 100px;
    vertical-align: middle;
}

.ArtcontTDes {
    text-align: left;
    padding-top: 20px;
}

.ArtcontTipPat{

    text-align: left;
}

.ArtcontTipPat div {
    max-height: 20px;
    max-width: 50px;
}
.ArtbotVolverChica{
    display: none;
}
@media only screen and (min-width: 768px){
    .ArtdataTotal > div {
        margin-right: 15px;
    }
    .ArtdataPass> div {
        width: 300px;
    }
}
@media only screen and (max-width: 300px){
    .ArtbotVolver{
        display: none;
    }
    .ArtbotVolverChica{
        display: block;
    }
    .ArtcontT{
        flex-wrap: wrap;
    }
}