.form{
    justify-content: center;
    width: 90%;
    text-align: center;
}
.UscontCabeza h2{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 30px;
    user-select: none;
    color: #f3f3f3;
    font-family: 'Josefin Sans';
}
.UsbotVolverChic {
    display: none;
}
.UscontCabeza {
    display: flex;
}
.UscontForm{
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Usform{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.UsdataUser{
    width: 200px;
}
.UsdataPass{
    width: 200px;
    padding-right: 30px;
}
.contInpUs{
    padding-top: 25px;
}
.UscontBotChic{
    width: 100%;
    padding-left: 37%;
    padding-top: 25px;
    padding-bottom: 50px;
}
.UscontPass{
    width: 700px;
    display: flex;
    justify-content: center;
}
@media (max-width: 750px) {
    .UscontCabeza h2{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 360px) {
    .UsbotVolverChic{
        display: block;
    }
    .UsbotVolverPC{
        display: none;
    }
}
@media only screen and (min-width: 1024px) {
    .form{
        width: 50%;
    }
}