h1{
    color: white;
}
.NegbotVolver {
    display: inline-flex;
    margin-right: 27%;
}
.NegcontCabeza {
    display: flex;
}

.NegdataTotal{
    display: flex;
}
.NegcontForm{
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
}
.Negform{
    width: 100%;
    text-align: center;
}
.NegdataUser{
    width: 200px;
}
.NegdataPass{
    width: 200px;
    padding-right: 30px;
}
.NegcontInp{
    width: 300px;
    padding-left: 17%;
    padding-top: 25px;
}
.NegcontBot{
    width: 300px;
    padding-left: 37%;
    padding-top: 25px;
    padding-bottom: 80px;
}
.NegcontHorario{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    height: auto;
}
.NegtextHor{
    padding-top: 20px;
}
.NegcontHorario h2{
    margin-bottom: 0px;
}
.NegcontHorario div{
    padding-right: 5px;
}
.NegcontHorDia{
    display: flex;
}
.NegcontPass{
    width: 700px;
    padding-left: 32%;
    display: flex;
}