.UsbotVolver {
    display: inline-flex;
    margin-right: 28%;
}
.UscontCabeza {
    display: flex;
    
}



.UscontForm{
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    
}
.Usform{
    width: 100%;
    text-align: center;
}
.UsdataUser{
    width: 200px;
}
.UsdataPass{
    width: 200px;
    padding-right: 30px;
}
.UscontInpUs{
    width: 300px;
    padding-left: 37%;
    padding-top: 25px;
}
.UscontBot{
    width: 300px;
    padding-left: 37%;
    padding-top: 25px;
    padding-bottom: 50px;
}
.UscontPass{
    width: 700px;
    display: flex;
    justify-content: center;
}