h1{
    color: white;
}
.dataTotal{
    display: flex;
}
.contForm{
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
}
.form{
    width: 100%;
    text-align: center;
}
.dataUser{
    width: 200px;
}
.dataPass{
    width: 200px;
    padding-right: 30px;
}
.contInp{
    width: 300px;
    padding-left: 17%;
    padding-top: 25px;
}
.contBot{
    width: 300px;
    padding-left: 37%;
    padding-top: 25px;
    padding-bottom: 80px;
}
.contHorario{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    height: auto;
}
.textHor{
    padding-top: 20px;
}
.contHorario h2{
    margin-bottom: 0px;
}
.contHorario div{
    padding-right: 5px;
}
.contHorDia{
    display: flex;
}
.contPass{
    width: 700px;
    padding-left: 32%;
    display: flex;
}