#selectbajo {
    margin-top: 10px
}
.artContBackground {
    background-color: #140016;
    color: white;
}
.artContTextAr > textarea {
    resize: none;
    border: none;
    background: #2a142c;
    border-radius: 15px;
    padding: 5px;
    color: white;
}
::placeholder {
    color: rgba(255, 255, 255, 0.616)
}
.ArtcontInp > div  input {
    background: #2a142c;
    color: white;
}
.ArtcontInp > .inputBoxCont > input {
    background: #2a142c;
}
.tipSelect {
    height: 40px;
    width: 90%;
    appearance: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    background-color: #2a142c;
    color: white;
}.tipSelect option[selected] {
    background-color: #f3f3f354;
    transition: all 0.2s ease-in-out;
}.tipSelect :first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}.tipSelect :last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ArtcontTDes > textarea {
    resize: none;
    border: none;
    background: #2a142c;
    border-radius: 15px;
    padding: 5px;
    color: white;
}
.Artform > h2{ 
    color: white;
}.ArtcontInp > h2{ 
    color: white;
}
.ArtbotVolver {
    display: block;
}
.ArtcontCabeza {
    text-align: center;
}

.ArtcontTipPat p {
    color: white;
}

.ArtdataTotal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ArtcontForm{
    padding-top: 90px;
    display: flex;
    align-items: center;
}

.Artform{
    width: 100%;
    text-align: center;
}

.ArtdataUser{
    width: 200px;
}

.ArtdataPass{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}.ArtdataPass div{
    width: 90%;
}

.ArtcontInp{
    width: 300px;
    padding-top: 25px;
}

.ArtcontBot{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 80px;
}.ArtcontBot button{
    max-width: 200px;
}

.ArtcontPass{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ArtcontT{
    display: flex;
    padding-left: 1%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.ArtcontT textarea {
    max-height: 100px;
    vertical-align: middle;
}

.ArtcontTDes {
    text-align: left;
    padding-top: 20px;
}

.ArtcontTipPat{
    width: 200px;
    text-align: left;
}.ArtcontTipPat > fieldset {
    border: none;
    display: grid;
    place-content: center;
    color: white;
}

.ArtbotVolverChica{
    display: none;
}
@media only screen and (min-width: 768px){
    .ArtdataTotal > div {
        margin-right: 15px;
    }
    .ArtdataPass> div {
        width: 300px;
    }
}
@media only screen and (max-width: 300px){
    .ArtbotVolver{
        display: none;
    }
    .ArtbotVolverChica{
        display: block;
    }
    .ArtcontT{
        flex-wrap: wrap;
    }
}