#ContPrincVisPerf {
    padding-top: 60px;
    width: 100%;
    background-color: rgb(17, 0, 19);    
}

/* === Estilos del feed de eventos === */
#ContPerfilFeedEventoGeneral{
    min-height: 84vh;
    max-height: fit-content;
}#ContPerfilFeedEventoGeneral > h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    user-select: none;
}
#ContPerfilFeedAnfitrion{
    height: fill-available;
    max-height: fill-available;
    background-color: #2a142c;
    min-width: calc(100% - 60px);
    color: #f3f3f3;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-left: 30px;
    padding-right: 30px;
}#ContPerfilFeedAnfitrion > p {
    color: white;
    text-align: center;
}


#ContPerfilFeedEventoActual{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
}#ContPerfilFeedEventoActual > div {
    margin-right: 10px;
}
#PerfilFeedEvento{
    min-height: 325px;
    max-width: 300px;
    min-width: 200px;
    padding: 10px;
    background-color: #2a142cf1;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #f3f3f3;
}
#PerfilFeedEvento p {
    color: #f3f3f3;
}
#PerfilFeedEvento h2{
    margin-top: -10px;
    margin-bottom: 0;
    color: #f3f3f3;
}
#ContPerfilFeedEventoAterior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ContImgEvento {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 0px;
}#ContImgEvento > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 120px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
}
.contBotEvesVisPerf {
    width: 100%;
    display: flex;
    justify-content: center;
}.contBotEvesVisPerf > button {
    color: white;
    font-size: 25px;
    background-color: transparent;
    border: none;
}.contBotEvesVisPerf :nth-child(3) {
    padding-left: 20px;
    padding-right: 20px;
}.contBotEvesVisPerf :nth-child(1) {
    padding-right: 20px;
}
.contBotEvesVisPerf :nth-child(5) {
    padding-left: 20px;
    
}
.vrLine {
    border-left: 1px solid white;
    
}
@media only screen and (min-width: 1024px) {
    #ContPerfilFeedAnfitrion {        
        position: fixed;
        max-width: calc(25% - 60px);
        min-width: calc(25% - 60px);
        padding: 20px 30px 30px 30px;
    }
    #ContPrincVisPerf {
        position: relative;
        min-height: 100vh;
    }
    #ContPerfilFeedEventoGeneral {
        right: 0;
        width: calc(75% - 30px);
        padding-left: 5px;
        padding-right: 15px;
        margin-left: 27%;
    }
    #ContPerfilFeedEventoActual {        
        padding: 0px;
        justify-content: left;
    }
    #PerfilFeedEvento {
        min-width: 28.5%;
        max-width: 28.5%;
    }
}