#ContPrincVisPerf {
    padding-top: 60px;
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 0, 19);    
}

/* === Estilos del feed de eventos === */
#ContPerfilFeedEventoGeneral{
    height: auto;
    width: 75%;
    position: absolute;
    right: 0;
}
#ContPerfilFeedAnfitrion{
    height: fill-available;
    max-height: fill-available;
    max-width: 30%;
    width: 20%;
    background-color: #2a142c;
    padding: 20px 30px 30px 30px;
    position: fixed;
    color: #f3f3f3;
    word-wrap: break-word;
    overflow-wrap: break-word;
}#ContPerfilFeedAnfitrion > p {
    color: white;
    text-align: center;
}


#ContPerfilFeedEventoActual{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;

}
#PerfilFeedEvento{
    height: auto;
    max-width: 90%;
    min-width: 90%;
    padding: 10px;
    background-color: #2a142cf1;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #f3f3f3;
}
#PerfilFeedEvento p {
    color: #f3f3f3;
}
#ContPerfilFeedEventoGeneral h1{
    max-width: 90%;
    min-width: 90%;
    padding: 30px;
    margin-left: -20px;
    user-select: none;
}
#PerfilFeedEvento h2{
    color: #f3f3f3;
}
#ContPerfilFeedEventoAterior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
