/* 
 color primario: #2D0E30
 color secundario: #140016 
*/

/* === Estilos by Alberto === */

#ContPrincVisPerf{
    padding-top: 60px;
    background-color: #2D0E30;
}
    /* ===== Organizador del evento ===== */
    #ContPerfilFeedAnfitrion{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    #PerfilFeedAnfitrion{
        width: 1050px;
        height: 100%;
    }

    /* /// Foto de Portada /// */
        #PortadaPerfilAnfitrion{
            width: 100%;
            height: 300px;
            background-color: #f3f3f3;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            overflow: hidden;
            user-select: none;
        }
        #ImagePortadaPerfilAnfitrion{
            width: 100%;
            height: auto;
        }
    /* /// Fin foto de portada /// */
    
    #InfPerfilAnfitrion{
        display: flex;
        margin-bottom: 10px;
    }

    /* /// Foto de perfil /// */
        #FotoPerfilAnfitrion{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 4px solid #f3f3f3;
            overflow: hidden;
            margin-right: 50px;
            margin-top: -30px;
        }
        #ImageFotoPerfilAnfitrion{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    /* /// Fin foto de perfil /// */

    #DatosPerfilAnfitrion{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        margin-right: 20px;
        color: #f3f3f3;
    }
    #DatosPerfilAnfitrion h1{
        font-weight: 700;
        font-size: 30px;
    }

    #ContBtnFeedAnfitrion{
        display: flex;
        justify-content: center;
    }
    #BtnFeedAnfitrion{
        border-top: 1px solid #f3f3f354;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 1050px;
        display: flex;
    }

    /* ===== Fin Organizador del evento ===== */

    /* Eventos del organizador */
    #ContPerfilFeedEventoGeneral{
        background-color: #140016;
        display: flex;
        justify-content: center;
    }
    #ContenedorResponsiveFeed{
        width: 1050px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    #ContenedorResponsiveFeed h1{
        user-select: none;
        padding-top: 30px;
        padding-bottom: 10px;
        font-size: 30px;
    }

        /* /// Botones de la pestaña /// */
            .BotEvesVisPerf{
                padding: 15px;
                border: none;
                background: none;
                color: #f3f3f3;
                transition: all 0.3s ease;
                cursor: pointer;
                border-radius: 10px;
                user-select: none;
            }
            .BotEvesVisPerf:hover{
                background-color: #f3f3f328;
            }
        /* /// Fin Botones de la pestaña /// */

        /* /// Pestaña 1 Información del organizador /// */

        #ContPerfilFeedInformacion{
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            gap: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

            /* Lateral izquierda */
            #InfDetallesAnfitrion .datosAnfitrion{
                background-color: #2D0E30;
                color: #f3f3f3;
                padding: 20px;
                border-radius: 10px;
                margin-bottom: 15px;
            }
                #InfDetallesAnfitrion .datosAnfitrion h2{
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                #InfDetallesAnfitrion .datosAnfitrion p{
                    padding: 5px;
                    padding-left: 0;
                }
                #InfDetallesAnfitrion .datosAnfitrion p b{
                    font-weight: 600;                    
                }
                #InfDetallesAnfitrion .datosAnfitrion p a{
                    color: dodgerblue;
                    text-decoration: none;
                    font-weight: 600;                    
                }
                #InfDetallesAnfitrion .datosAnfitrion .horario{
                    color: green;
                    font-weight: 550;
                    padding: 5px;
                    padding-left: 0;
                }
                #InfDetallesAnfitrion .datosAnfitrion .descripcion{
                    border: 1px solid #f3f3f354;
                    border-radius: 10px;
                    padding: 10px;
                    margin-top: 10px;
                }
                
            /* Fotos del anfitrion */
                #InfDetallesAnfitrion .fotosAnfitrion{
                    background-color: #2D0E30;
                    color: #f3f3f3;
                    padding: 20px;
                    border-radius: 10px;
                }
                #InfDetallesAnfitrion .fotosAnfitrion h2{
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                #InfDetallesAnfitrion .fotosAnfitrion .contFotosAnfitrion{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;                   
                }
                #InfDetallesAnfitrion .fotosAnfitrion .fotoAnfitrion{
                    background-color: #f3f3f32c;
                    border-radius: 10px;
                    height: 118px;
                    width: 118px;
                    overflow: hidden;
                }
                #InfDetallesAnfitrion .fotosAnfitrion .fotoAnfitrion img{
                    width: 100%;
                    height: auto;
                }
            /* Fin fotos del anfitrion */


            /* ==== Fin lateral izquierda ==== */

            /* Lateral derecha */
                #InfOpinionesAnfitrion{
                    color: #f3f3f3;
                }
                #InfOpinionesAnfitrion h2{
                    padding: 20px;
                    background-color: #2D0E30;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    font-weight: 600;
                }
                #InfOpinionesAnfitrion .opinionAnfitrion{
                    background-color: #2D0E30;
                    color: #f3f3f3;
                    padding: 10px;
                    border-radius: 10px;
                    margin-bottom: 15px;
                }
                #InfOpinionesAnfitrion .contOpinador{
                    display: flex;
                    margin-bottom: 10px;
                }
                #InfOpinionesAnfitrion .contOpinador .nombreOpinador{
                    margin-left: 10px;
                }
                #InfOpinionesAnfitrion .contOpinador .nombreOpinador .fecha{
                    font-size: 14px;
                    margin-top: 3px ;
                    color: #f3f3f3b0;
                }
                #InfOpinionesAnfitrion .fotoOpinador{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 2px solid #f3f3f3;
                    user-select: none;
                }
                #InfOpinionesAnfitrion .fotoOpinador img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
            /* Fin lateral derecha */

            /* TODO: Correjir esto, diseño para los comentarios en Pag Evento */
                #OpinionesEvento{
                    width: 750px;
                    margin-top: 20px;
                    color: #f3f3f3a2;
                }
                #OpinionesEvento .opinionAnfitrion{
                    background-color: #2D0E30;
                    color: #f3f3f3;
                    padding: 10px;
                    border-radius: 10px;
                    margin-bottom: 15px;
                }
                #OpinionesEvento .contOpinador{
                    display: flex;
                    margin-bottom: 10px;
                }
                #OpinionesEvento .contOpinador .nombreOpinador{
                    margin-left: 10px;
                }
                #OpinionesEvento .contOpinador .nombreOpinador .fecha{
                    font-size: 14px;
                    margin-top: 3px ;
                    color: #f3f3f3b0;
                }
                #OpinionesEvento .fotoOpinador{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 2px solid #f3f3f3;
                    user-select: none;
                }
                #OpinionesEvento .fotoOpinador img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            /* Fin */
        
        /* /// FIn Pestaña 1 Información del organizador /// */

        /* /// Pestaña 2 Eventos /// */
        #ContPerfilFeedEventos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        #PerfilFeedEvento{
            height: auto;
            width: auto;
            background-color: #2D0E30;
            border-radius: 10px;
            color: #f3f3f3;
            cursor: pointer;
            transition: all 0.3s ease;
        } 
        #ContImgEventoFeed{
            width: 100%;
            height: 150px;
            background-color: #f3f3f3;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
        }
        #ImgEventoFeed{
            width: 100%;
            height: auto;
        }
        #ContInfEvento{
            padding: 15px;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .infEventoFecha{
            color: tomato;
            font-weight: 550;
        }
        .infEvento h2{
            margin-top: 10px;
            font-size: 20px;
        }
        .infEventoUbicacion{
            color: #f3f3f3a1;
        }
        .asistentesEvento{
            margin-top: 10px;
        }
        .coverEvento p{
            color: green;
            font-weight: 600;
        }
        .coverEvento .cover{
            color: orange;
            font-weight: 600;
        }
        .btnAsistir{
            background: linear-gradient(to left, #004dc0, #EC1C4E, #d6d300);
            width: 100%;
            color: #f3f3f3;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            user-select: none;
            padding: 10px;
            margin-top: 10px;
            transition: all 0.3s ease;
        }
        .btnAsistirTrue{
            background: linear-gradient(to left, #004dc0, #34ec1c, #d6d300);
            width: 100%;
            color: #f3f3f3;
            font-weight: 550;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            user-select: none;
            padding: 10px;
            margin-top: 10px;
            transition: all 0.3s ease;
        }
        .btnAsistir:hover{
            background-color: #f3f3f3c4;
        }
        /* /// Fin Eventos /// */
    
    /* Fin eventos del organizador */


    /* /// Responsive de la página /// */
    @media (max-width: 750px) {
        #PortadaPerfilAnfitrion{
            height: 200px;
        }
        #ContPerfilFeedInformacion{
            grid-template-columns: 1fr;
        }
        #PerfilFeedAnfitrion{
            width: 100%;
        }
        #InfPerfilAnfitrion{
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }
        #DatosPerfilAnfitrion{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #ContFotoPerfilAnfitrion{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -50px;
        }
        #ContenedorResponsiveFeed{
            width: 95%;
        }

        #OpinionesEvento{
            width: 95%;
        }
        /* /// Foto de perfil /// */
        #FotoPerfilAnfitrion{
            width: 140px;
            height: 140px;
            overflow: hidden;
            margin-right: 0px;
            margin-top: 0px;
        }
    /* /// Fin foto de perfil /// */

    /* Eventos */
    #ContPerfilFeedEventos{
        grid-template-columns: 1fr;
    }
    /* FIN Eventos */
    }
    /* /// Fin responsive de la página /// */

/* === Fin estilos by Alberto === */
